rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Reglas para la colección "compras"
    match /compras/{compraId} {
      allow read: if true;
      allow create: if request.resource.data.discord is string 
                   && request.resource.data.pin is string;
      allow update, delete: if true;
    }
    
    // Reglas para la colección "usuarios"
    match /usuarios/{usuarioId} {
      allow read, create: if true;
      allow update, delete: if true;
    }

    // Reglas para la colección "visitas"
    match /visitas/{visitaId} {
      allow read, create: if true;
      allow update, delete: if true;
    }

  }
}
